.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(173, 50, 50);
}

p {
    color: rgba(145, 7, 7, 0.9);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    color: rgba(145, 7, 7, 0.9);
}

h1 {
    color: rgba(9, 7, 145, 0.9);
    font-family: sans-serif;
    ;
}