* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    border-bottom: 1px solid red;
    margin-bottom: 10px;
}

main .hijo {
    flex: 1;
    padding: 1em 3em;
    display: flex;
    align-items: center;
}

.main .hijo h1 {
    color: rgb(27, 27, 88);
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}

main .hijo img {
    max-width: 100%;
}

@media screen and (max-width: 1000px) and (max-height: 800px) {
    main {
        flex-direction: column-reverse;
        height: 80vh;
    }
    main .hijo h1 {
        font-size: 30px;
        background-color: yellow;
    }
}