.caja {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all ease-in-out .3s;
    animation: mueveIzquierda ease-in-out 1.5s;
}


/* @keyframes mueveIzquierda {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
} */

@keyframes mueveIzquierda {
    0% {
        transform: translateX(100px) rotate(90deg) scale(1.5);
        background-color: yellow;
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
        background-color: orange;
    }
    100% {
        transform: translateX(0) rotate(0deg) scale(1);
        background-color: red;
    }
}